@inherits AlloyCms12New.Views.AlloyPageBase<PageViewModel<AlloyCms12New.Models.Pages.StartPage>>

<div class="start">
    <div epi-property="@Model.CurrentPage.MainContentArea" class="row">
        <div epi-property-item class="block" epi-on-item-rendered="OnItemRendered" />
    </div>
</div>
